@import-normalize; /* bring in normalize.css styles */

body {
  padding: 20px 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(90deg, #ffffff, #7e7fd0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: 0px solid;
}

img {
  display: block;
}

.primary-title {
  margin-bottom: 20px;
  font-size: 60px;
  color: #2c2020bc;
  text-align: center;
}
